<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="autoload.php">
    <testsuites>
        <testsuite name="Stockpile">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>
</phpunit>